@media(max-width: 920px){
    .works__inner-item{
        margin-right: 20px;
        margin-bottom: 10px;
       
    }
    .works__inner{        
       justify-content: space-around;
        flex-wrap: wrap;
    }

}
@media(max-width: 870px){
    .items__inner {
        display: block;
               
    }
    .item {
        width: 100%;
    }
    .footer__item {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media(max-width: 775px){
.footer__item-content {
        width: 80%;
    }
   .footer__inner{
       flex-wrap: wrap;
   } 
   .footer__item-twitter {
    width: 50%;
    }
}

@media(max-width: 550px){
    .header__menu-btn{
        display: block;
        margin-top: 60px;
        
    }
    .header__menu > ul{
        display: none;
        position: absolute;
        top: 65px;
        z-index: 2;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #fff;
        border-bottom: 3px solid #000;
     }
     .header__menu li{
         display: block;
         text-align: center;         
         
     }
        .header__menu li+li{
        border-top: 1px solid #000; 
    }
        .header__menu a{
        display: block;
        height: 35px;
        margin-left: 0;
        line-height: 32px;
      
               
    }
        .header__menu a:hover{
         border-bottom: 1px solid transparent;
        }
        .slick-arrow{
            display: none;
        }
        .slider__nav{
            display: none;
        }
        .items{
            padding-top: 20px;
        }

}

@media(max-width: 500px){
    .slider__item-box {
        width: 100%;
        bottom: 0;
        left: 0;
        padding-right: 20px;
    }
    .slider__item{
        min-height: 300px;
    }
    
}




@media(min-width: 550){
    header__menu > ul{
        display: block !important;
    }
}
